.c h1 {
  /* H2 semibold 36 */
  color: rgb(31, 37, 51);
  font-family: Lexend;
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: -5%;
  text-align: left;
}
.c p {
  /* Light 16 */
  color: rgb(31, 37, 51);
  font-family: Lexend;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  max-width: 521px;
  margin-top: 31px;
}

.c1 {
  position: absolute;
  margin-left: 720px;
  width: 440px;
}
.c {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 84px;
  margin-top: 80px;
}
